version: "3.8"

services:
  mariadb:
    image: mariadb:11
    container_name: medsys-mariadb
    environment:
      MARIADB_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - medsys-net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: medsys-rabbitmq
    ports:
      - "5672:5672"    # broker port (used by services)
      - "15672:15672"  # management UI in browser
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - medsys-net


  auth-service:
    build: ./auth-service
    container_name: auth-service
    depends_on:
      - mariadb
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://mariadb:3306/medsys_auth
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      AUTH_JWT_SECRET: dev-super-secret-key-change-me
      AUTH_JWT_EXPIRATION_SECONDS: 3600
    ports:
      - "8081:8081"
    networks:
      - medsys-net

  appointments-service:
    build: ./appointments-service
    container_name: appointments-service
    depends_on:
      - mariadb
      - notification-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://mariadb:3306/medsys_appointments
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      AUTH_JWT_SECRET: dev-super-secret-key-change-me
      AUTH_JWT_EXPIRATION_SECONDS: 3600
      # important: use service name (notification-service) as host
      NOTIFICATIONS_BASE_URL: http://notification-service:8083
    ports:
      - "8082:8082"
    networks:
      - medsys-net

  notification-service:
    build: ./notification-service
    container_name: notification-service
    depends_on:
      - mariadb
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://mariadb:3306/medsys_notifications
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      AUTH_JWT_SECRET: dev-super-secret-key-change-me
      AUTH_JWT_EXPIRATION_SECONDS: 3600
    ports:
      - "8083:8083"
    networks:
      - medsys-net

networks:
  medsys-net:

volumes:
  mariadb_data:
